# OpenWeather API Key
# Get it from: https://openweathermap.org/api
VITE_OPEN_WEATHER_MAP_API_KEY=your_openweather_api_key_here

# Unsplash API Setup
# Get it from: https://unsplash.com/oauth/applications
VITE_UNSPLASH_ACCESS_KEY=your_unsplash_access_key_here
VITE_UNSPLASH_BASE_URL=https://api.unsplash.com
